body{
	padding: 0px;
	margin: 0px;
	position: relative;
	color: #777;
    font-family: "Source Sans Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
}
a{
	font-family: "Merriweather",sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather",sans-serif;
    margin-top: 0px;
    color: #333;
}
.navbar-inverse{
	background: transparent;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: none;
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.navbar-brand{
	padding: 4px;
}
.navbar-brand>img{
	height: 40px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background: transparent;
	color: #039be5 !important;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>.open>a:focus {
    color: #039be5 !important;
    background-color: transparent;
}
.navbar-inverse .navbar-nav > li > a{
	background: transparent;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 700;
	transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
 	background-color: #fff 
}
.navbar-inverse .navbar-toggle .icon-bar { 
	background-color: #039be5
}
.navbar-inverse .navbar-nav > li > a:hover{
	color: #039be5 !important;
}
.navbar-shrink{
	padding-top: 10px;
	padding-bottom: 10px;
	background: #fff;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}
.navbar-shrink .navbar-nav > li > a{
	color: #000;
}
/**background css*/
.background{
	background-image: url("../img/bg-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: relative;
	overflow: hidden;
}
.overlay{
	height: 100%;
	background: rgba(0, 0, 0,0.5 ) none repeat scroll 0 0;
}
.hero-text h2{
	padding-top: 200px;
	font-size: 60px;
	line-height: 80px;
	color:#fff;
	text-transform: capitalize;
}
.social-media{
	margin-top: 30px;
}
.social-media ul{
	list-style: none;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.social-media ul li
{
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
.social-media  li a{
	width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    font-size: 20px;
    display: block;
    transition: all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
}
.social-media li a:hover{
	background-color:#337ab7;
}
.facebook {
	background: #5D82D1;
    box-shadow: 0 0 0 0px #5D82D1;
}
.twitter {
    background: #40BFF5;
    box-shadow: 0 0 0 0px #40BFF5;
}
.google-plus {
    background: #EB5E4C;
    box-shadow: 0 0 0 0px #EB5E4C;
}
.linkedin {
    background: #238CC8;
    box-shadow: 0 0 0 0px #238CC8;
}
.youtube {
    background: #E13138;
    box-shadow: 0 0 0 0px #E13138;
}
.skype {
    background: #35C6EA;
    box-shadow: 0 0 0 0px #35C6EA;
}
.nopadding{
	padding-left: 0px;
	padding-right: 0px;
}
.single-section{
	padding: 50px 30px;
	transition: all 0.4s ease 0s;
	color: #fff;
	text-align: center; 
}
.single-section:hover {
    background: #040e18;
}
.first-section{
	background: #039be5;
}
.second-section{
	background: #03a9f4;
}
.third-section{
	background: #29b6f6;
}
.single-section i{
	font-size: 30px;
}
.single-section h4{
    color: #fff;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 700;
}
.single-section p{
	font-size: 14px;
}
section{
	padding: 60px 0px;
}
/**about us css*/
.section-title{
	margin-bottom: 50px;
	text-align: center;
}
.section-title h1{
	text-align: center;
    text-transform: uppercase;
    color: #039be5;
    font-size: 35px;
    font-weight: 700;
    position: relative;
    margin-top: 0px;
}
.section-title span{
	width: 50px;
    height: 3px;
    background:#039be5;
    display: inline-block;
}
.section-title p{
	margin-top: 20px;
}
.section-title h5{
	text-transform:capitalize;
	font-size: 18px;
	margin-top: 25px;
}
.single-about{
	text-align: center;
	padding: 0px;
}
.single-about i{
	    width: 100px;
    height: 100px;
    line-height: 90px;
    border: 8px solid #fff;
    border-radius: 100px;
    color: #fff;
    font-size: 36px;
    text-align: center;
    box-shadow: 0 0 1px 0 rgba(1,1,1,0.4);
    margin-bottom: 15px;
    transition: all 0.5s ease 0s;
    -webkit-transition:all 0.5s ease 0s;
}
.single-about i:hover{
	transform: rotate(360deg) scale(1.2);
}
.color-icon-one{
	background: #FC3950;
}
.color-icon-two{
	background: #FFA800;
}
.color-icon-three{
	background: #00AEFF;
}
.color-icon-four{
	background: #D2A855;
}
.single-about h4{
	text-transform: capitalize;
    margin-top: 10px;
    font-weight: 600;
}
p{
	line-height: 28px;
}
.section-title p{
	letter-spacing: 1px;
}
.right .first-right{
	margin-bottom: 40px;
}
.right .first-right i{
	float: left;
    width: 80px;
    height: 80px;
    line-height: 70px;
    text-align: center;
    border: 5px solid #fff;
    box-shadow: 0 0 1px 0 rgba(1,1,1,0.4);
    border-radius: 100px;
    color: #fff;
    margin-right: 15px;
    font-size: 25px;
}
.right .first-right h3{
	font-size: 18px;
	font-weight: 700;
}
.right .first-right .description{
	margin-left: 95px;
}
.color-icon-eleven{
	background:#349993; 
}
.color-icon-twelve{
	background:#F1501A; 
}
.color-icon-thirteen{
	background:#332A4B; 
}
.single-counter{
	padding: 30px;
	text-align: center;
	color: #fff;
	transition: all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
}
.single-counter:hover{
	background: #040e18;
}
.first-counter{
	background: #0277bd;
}
.second-counter{
	background: #0288d1 none repeat scroll 0 0;
}
.third-counter{
	background: #039be5;
}
.fourth-counter{
	background: #03a9f4;
}
.single-counter i{
	width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    margin-bottom: 15px;
    transition: all 0.4s ease 0s;
    -webkit-transition: all 0.4s ease 0s;
}
.single-counter h1{
	font-weight: 700;
	color: #fff;
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
}
.single-counter p{
	text-transform: capitalize;
	transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
}
.single-counter span{
	background: #fff none repeat scroll 0 0;
    display: block;
    height: 2px;
    margin: 20px auto;
    width: 50px;
}
/**services css*/
.single-service{
	text-align: left;
	margin-bottom: 30px;
}
.single-service i{
	width: 80px;
    height: 80px;
    line-height: 70px;
    text-align: center;
    border: 5px solid #fff;
    box-shadow: 0 0 1px 0 rgba(1,1,1,0.4);
    border-radius: 100px;
    color: #fff;
    margin-bottom:20px;
    font-size: 25px;
}
.color-icon-five{
	background: #01B59A;
}
.color-icon-six{
	background: #FF4C83;
}
.color-icon-seven{
	background: #9E70FC;
}
.color-icon-eight{
	background: #35424F;
}
.color-icon-nine{
	background: #3CCD0F;
}
.color-icon-ten{
	background:#FC3950;
}
.single-service h4{
	font-weight: 700;
	text-transform: capitalize;
}
.single-service p{
	letter-spacing: normal;
	text-align: justify;
}
/**features css**/
.single-feature h4{
	    font-weight: 700;
    text-transform: uppercase;
}
.single-feature .media{
	margin-bottom: 30px;
}
.single-feature i{
	width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    color: #333;
    font-size: 22px;
    border: 1px solid #e8e8e9;
    border-radius: 100px;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}
.single-feature .media:hover i{
	background: #039be5;
	color: #fff;
}
/**slider css*/
.slider{
	background-size: cover;
	background-image: url("../img/bg-2.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	min-height: 300px;
}
.slider-overlay{
	background: rgba(3, 155, 229, 0.8) none repeat scroll 0 0;
	padding: 60px 0px;
}
.slider-title{
	margin-bottom: 50px;
}
.slider-title h2{
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.single-customer {
	padding: 30px;
	border:1px dotted #fff;
}
.single-customer p{
	text-align: justify;
	color: #fff;
}
.single-customer h4{
	text-transform: capitalize;
	color: #fff;
}
.single-customer .media img{
	width: 120px;
    height: 120px;
    border-radius: 100px;
    border: 5px solid #fff;
    margin-right: 20px;
}
/***work css*/
.single-work{
	position: relative;
	overflow: hidden;
	z-index: 2;
}
.single-work .portfolio-text{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	color: #fff;
	z-index: 0;
	top: 0;
	background: rgba(3, 155, 229, 0.8) none repeat scroll 0 0;
	opacity: 0;
	transition: opacity 0.3s ease 0s;
    -webkit-transition: opacity 0.3s ease 0s;
}
.single-work:hover .portfolio-text{
	opacity: 1;
}
.single-work .portfolio-text i{
	width: 55px;
    height: 55px;
    line-height: 55px;
    background: #fff;
    color: #3ab3df;
    border-radius: 100px;
    text-align: center;
    font-size: 16px;
    margin-top: 20%;
    margin-bottom: 20px;
    opacity: 0;
    transition: opacity 0.3s ease 0.3s;
    -webkit-transition: opacity 0.3s ease 0.3s;
}
.single-work:hover .portfolio-text i{
	opacity: 1;
}
.single-work .portfolio-text h4{
	color: #fff;
    font-size: 20px;
    font-weight: 700;
    text-transform: capitalize;
}
.case-study h1{
 font-weight: 700;
}
#project{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	background-image: url("../img/bg-3.jpg");
	min-height: 300px;
}
.project-info{
	background:#039be5;
	padding: 30px;
}
.project-info h2{
	font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.project-info p{
	color: #fff;
}
.project-info .btn-primary{
	background: transparent;
    border: 1px solid #fff;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    color: #fff;
    transition: all 0.4s ease 0s;
    -webkit-transition:all 0.4s ease 0s;
}
.project-info .btn-primary:hover{
	background: #fff;
	color: #333;
}
/**team css*/
.single-member{
	position: relative;
	overflow: hidden;
}
.single-member .team-overlay{
	position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
    opacity: 0;
    background-color: rgba(3,155,229,0.6);
    transition: all 0.3s ease 0s;
    -webkit-transition:all 0.3s ease 0s;
}
.single-member:hover .team-overlay{
	opacity: 1;
}
.single-member .team-social ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.single-member .team-social ul li{
	display: inline-block;
	padding: 0px;
	margin: 0px;
}
.team-social{
	margin-top: 225px;
	transition: all 0.5s ease 0s;
	-webkit-transition:all 0.5s ease 0s;
}
.single-member:hover .team-social{
	margin-top:100px;
}
.team-social ul li a i{
	width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background: transparent;
    font-size: 20px;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.team-social ul li a.facebook i{
	background: #507CBE;
}
.team-social ul li a.facebook i:hover{
	background: #507CBE;
}
.team-social ul li a.twitter i{
	background: #63CDF1;
}
.team-social ul li a.google-plus i{
	background:#F16261;
}
.team-social ul li a.linkedin i{
	background: #0077B5;
}
.team-overlay h3{
	font-weight: 700;
	font-size: 20px;
	text-transform: capitalize;
	padding-top: 100px;
	color:#fff;
}
.team-overlay h6{
	line-height: 28px;
	color: #fff;
}
/**pricing css*/
.single-price{
	border:1px solid #e8e8e9;
	background: #fff;
	box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.05);
	transition: all 0.5s ease 0s;
	-webkit-transition:all 0.5s ease 0s;
}
.single-price .price-title h3{
	margin: 0px;
	padding: 20px;
	text-align: center;
	background:#039be5;
	color:#fff;
	transition: all 0.6s ease 0s;
	-webkit-transition:all 0.6s ease 0s;
}
.single-price:hover .price-title h3{
	background:#fff;
	color:#039be5; 
}
.pricing-price{
	background:#f5f5f5 none repeat scroll;
	transition: all 0.6s ease 0s;
	-webkit-transition:all 0.6s ease 0s;
}
.single-price:hover .pricing-price{
	background:#039be5;
}
.single-price:hover .pricing-price h4{
	color:#fff;
}
.pricing-price h4{
	color: #222;
	padding: 26px 13px;
	height: 100px;
	width: 100px;
	font-size: 40px;
	margin: 0 auto;
}
.pricing-data p{
	padding: 10px;
	margin: 0px;
	color: #333;
	border-bottom:1px solid #e8e8e9;
}
.pricing-order{
	text-align: center;
	padding: 20px 0px;
}
.pricing-order button{
	border-radius: 0px;
    border: 1px solid #e6e6e6;
    background: #fff;
    color: #333;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    padding: 10px 20px;
    transition: all 0.6s ease 0s;
    -webkit-transition:all 0.6s ease 0s;
}
.pricing-order button:hover{
	background:rgba(3, 155, 229, 0.8);
	color: #fff;
	border:1px solid rgba(3, 155, 229, 0.8);
}
/**blog css*/
#blog{
	background-color: #f5f5f5;
}
.single-blog{
	background:#fff;
	box-shadow: 0 0 0 3px #f5f5f5;
	padding: 10px;
}
.single-blog .blog-content{
	border-bottom:1px solid #e8e8e9;
	padding-bottom: 10px;
}
.blog-content .media img{
	width: 80px;
	height: 80px;
	border:7px solid #f0f0f0;
	border-radius: 100px;
}
.blog-content .media h4{
	padding-top: 15px;
	color: #333;
	font-size: 14px;
}
.blog-content .media h4 a strong{
	font-size: 18px;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}
.blog-content .media h4 a strong:hover{
	color:#3ab3df;
	text-decoration: none !important;
}
.blog-content .media h4 a{
	color: #333;
    font-size: 16px;
    transition: all 0.4s ease 0s;
}
.blog-text{
	padding-top: 10px;
}
.blog-text h4{
	color: #333;
    font-weight: 700;
    line-height: 26px;
    margin-top: 10px;
    text-transform: capitalize;
    transition: all 0.6s ease 0s;
    margin-bottom: 0;
}
.read-more{
	text-transform: capitalize;
	font-size: 16px;
	color:#333;
	transition: all 0.4s ease 0s;
}
.read-more:hover{
	color:#3ab3df;
}
/**contact css*/
input.form-control {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 0 !important;
    box-shadow: none;
    color: #333;
    height: 45px;
    font-family: merriweather,sans-serif;
}
input.form-control:active,input.form-control:focus{
	box-shadow: none !important;

}
textarea.form-control {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #ddd;
    color: #333;
    border-radius: 0;
    font-family: merriweather,sans-serif;
    box-shadow: none;
    }
textarea.form-control:active,textarea.form-control:focus{
	box-shadow: none !important;
}    
form .btn-default{
	background: #fff none repeat scroll 0 0;
    border-radius: 0;
    color: #333;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 0;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all 0.4s ease 0s
}
form .btn-default:hover {
    background: #039be5;
    color: #fff;
    border: 1px solid #039be5;
}
/**address css*/
.single-address i {
    border: 8px solid #ffffff;
    border-radius: 100px;
    box-shadow: 0 0 1px 0 rgba(1, 1, 1, 0.4);
    color: #fff;
    font-size: 36px;
    height: 100px;
    line-height: 85px;
    margin-bottom: 15px;
    width: 100px;
}
.single-address p {
    color: #333;
    font-weight: 400;
}
.color-icon-fifteen {
    background: #f54c54 none repeat scroll 0 0;
}
.color-icon-sixteen {
    background: #222 none repeat scroll 0 0;
}
.color-icon-seventeen {
    background: #269abc none repeat scroll 0 0;
}
/**footer**/
#footer{
	background: #040e18 none repeat scroll 0 0;
}
#footer h3 {
    color: #fff;
    padding-bottom: 30px;
}
.footer-social ul{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.footer-social ul li{
	padding: 0px;
	margin: 0px;
	display: inline-block;
}
.footer-social ul li a{
	background: #2e3537 none repeat scroll 0 0;
    border: 1px solid #2e3537;
    box-shadow: 0 0 0 7px transparent;
    color: #aaa;
    display: block;
    font-size: 14px;
    height: 40px;
    line-height: 21px;
    padding: 9px 13px;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 40px;
}
.footer-social ul li a:hover {
    color: #fff;
}
.f_facebook:hover {
    background: #5D82D1;
    box-shadow: 0 0 0 0px #5D82D1;
    border: 1px solid #5D82D1;
}
.f_twitter:hover {
    background: #40BFF5;
    box-shadow: 0 0 0 0px #40BFF5;
    border: 1px solid #40BFF5;
}
.f_google:hover {
    background: #EB5E4C;
    box-shadow: 0 0 0 0px #EB5E4C;
    border: 1px solid #EB5E4C;
}
.f_linkedin:hover {
    background: #238CC8;
    box-shadow: 0 0 0 0px #238CC8;
    border: 1px solid #238CC8;
}
.f_youtube:hover {
    background: #CC181E;
    box-shadow: 0 0 0 0px #CC181E;
    border: 1px solid #CC181E;
}
.f_skype:hover {
    background: #00AFF0;
    box-shadow: 0 0 0 0px #00AFF0;
    border: 1px solid #00AFF0;
}
footer{
	background-color: #09121b;
    padding: 30px 0;
    color: #fff;
}
.copyright p {
    font-weight: 400;
}
.to-top{
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 40px;
	height: 40px;
	line-height: 38px;
	border-radius: 50%;
	text-align: center;
	font-size: 25px;
	background-color: #039be5 !important;
	color:#fff;
	cursor: pointer;
	z-index: 9999;
	display: none;
	transition: all 0.4s ease 0s;
	-webkit-transition:all 0.4s ease 0s;
}

/**media query css**/
@media screen and (max-width: 767px){
	.hero-text h2{
		font-size: 30px;
		line-height: 40px;
		padding-top: 140px;
	}
}    
